:root {
  --couleur-principale: #ffffff;
  --couleur-text-principale: #0a0a0a;
  --taille-police-principale: 20px;
  --taille-police-secondaire: 16px;
}
body {
  background-color: var(--couleur-principale);
}
.conteneur {
  display: flex;
  border: 1px solid black;
  margin-top: auto;
}

.partie1 {
  background-color: rgb(176, 180, 179);
  height: 900px;
  width: 200px;
}

.partie2 {
  background-color: rgb(251, 252, 251);
  width: 600px;
  margin-left: 100px;
  size: 300px;
}
.entete {
  padding-top: 30px;
  padding-bottom: 50px;
  background: black;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  /* align-self: start; */
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
}
.entete h2 {
  font-size: 14px;
}
.entete h1 {
  font-size: 20px;
}
.entete img {
  /* margin-left: 250px; */
  border: 1px solid white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.formlang {
  display: flex;
  position: relative;
  background: black;
  color: white;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  margin-bottom: 10px;
  padding: 0px;
  text-align: center;
  height: 450px;
  width: 200px;
  top: 50px;
}
.formation {
  position: absolute;
  top: 70px;
  left: 5px;
  font-size: 14px;
}
.formation h2 {
  text-align: center;
}
.langue {
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 35px;
}
.contact {
  align-content: center;
}
.contact h2 {
  text-align: center;
}

@media screen and (max-widht: 1500px) {
}
.conteneur {
  width: 90%;
}
